<div>
	<h1>{{project}} results, run {{test}}:</h1>
    <h2>Totals: {{testResult.Final.Counts.Pass / (testResult.Final.Counts.Total - testResult.Final.Counts.Omit) * 100 | number:1}}%</h2>
    <label class="totals test-pass">Pass: {{testResult.Final.Counts.Pass}}</label>
    <label class="totals test-fail">Fails: {{testResult.Final.Counts.Fail}}</label>
    <label class="totals test-error">Errors: {{testResult.Final.Counts.Error}}</label>
    <label class="totals test-skip">Skip: {{testResult.Final.Counts.Omit}}</label>
    <label class="totals">Total: {{testResult.Final.Counts.Total}}</label>
    <br>
	<div ng-repeat='case in testResult.Cases' class="test-case">
		<label>{{case.Label}}:</label>
		<br>
		<div ng-repeat='test in case.Tests'>
            <div class="test">
                <label class="clickable test-{{test.Status}}" ng-click="test.expanded = !test.expanded">
                    {{test.Label}}: {{test.Status}}
                </label>
                <div ng-show="test.expanded">
                    <label>Time Elapsed: {{test.Time}}</label>
                    <br>
                    <label ng-if="test.Status !== 'pass'">{{test.Exception.Message}}</label>
                    <div ng-if="test.Exception && test.Exception.File">
                        <label>{{test.Exception.File}} +{{test.Exception.Line}}</label>
                        <br>
                        <label>{{test.Exception.Source}}</label>
                    </div>
                </div>
            </div>
		</div>
		<br>
	</div>
</div>
